<div class="row">
  <div class="col navigation">
    <button
      routerLink="/meeting"
      aria-label="Start meeting">
      Start meeting
    </button>
  </div>
  <div class="col interactions">
    <button
      (click)="addMemberDialog.showModal()"
      aria-label="Add team member">
      Add team member
    </button>
  </div>
</div>


<dialog #addMemberDialog>
  <form (submit)="addMember()" [formGroup]="newMember">
    <input aria-label="Name" type="text" formControlName="name"
           placeholder="Name">
    <button type="submit" aria-label="Add">Add</button>
  </form>
  <div class="interactions">
    <button
      (click)="addMemberDialog.close()"
      aria-label="Close">Close
    </button>
  </div>
</dialog>
@for (member of team(); track member) {
  <meeting-team-member [member]="member" [even]="$even"></meeting-team-member>
}